.wrapper {
	position: relative;
}

.input {
	appearance: none;
	border: none;
	width: 100%;

	&:focus {
		outline: none;
	}

	&::placeholder {
		color: currentColor;
		// opacity: 0.3;
	}

	/* Chrome, Safari, Edge, Opera */
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		appearance: none;
		margin: 0;
	}
	/* Firefox */
	&[type='number'] {
		appearance: textfield;
	}

	&:placeholder-shown:not(:focus) ~ .required {
		opacity: 0.4;
	}
}

.label {
	display: inline-block;
	padding-bottom: 0.6rem;
	padding-left: 2rem;

	@include tablet {
		padding-bottom: 6px;
		padding-left: 20px;
	}
}

.regular,
.float {
	.input {
		border-radius: 0.4rem;
		line-height: 1.8;
		font-weight: normal;
		height: 4.2rem;
		padding: 0 2rem;
		transition: border-color 1s $expo-out;
		color: currentColor;
		background-color: $white;
		border: 1px solid rgba($black, 0.1);

		@include tablet {
			padding: 0 20px;
			height: 50px;
		}
	}

	// &:not(:placeholder-shown) {
	// 	border-color: rgba($black, 1);
	// }

	&:focus {
		border-color: currentColor;
	}
}

.required {
	position: absolute;
	right: 2rem;
	top: 50%;
	line-height: 1;
	margin-top: -0.5em;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.5s $expo-out;

	@include tablet {
		right: 20px;
	}
}

.regular {
	display: flex;
	align-items: flex-start;
	flex-direction: column-reverse;

	.label {
		font-size: clampfont(1.1rem);
		line-height: 1;
	}

	&.hasLabel {
		.required {
			top: calc(1.7rem + 2.1rem);

			@include tablet {
				top: calc(17px + 21px);
			}
		}
	}
}

.float {
	.input {
		&:placeholder-shown:not(:focus) ~ .label {
			transform: scale3d(1, 1, 1) translate3d(0, 50%, 0);

			&::before {
				background-color: transparent;
			}
		}
	}

	&.hasLabel {
		.input {
			&::placeholder {
				opacity: 0;
			}
		}
	}

	.label {
		position: absolute;
		top: -50%;
		left: 2rem;
		height: 4.2rem;
		display: inline-flex;
		align-items: center;
		line-height: 1;
		padding: 0.4rem 0.8rem;
		margin-left: -0.8rem;
		pointer-events: none;
		transform-origin: left center;
		transition: transform 0.5s $expo-out;
		transform: scale3d(0.8, 0.8, 0.8) translate3d(0.25em, 1px, 0);
		//will-change: transform;
		backface-visibility: hidden;

		&::before {
			content: '';
			display: block;
			z-index: -1;
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 1.5em;
			margin-top: -0.75em;
			background-color: $white;
			transition: background 0.5s $expo-out;
		}

		@include tablet {
			left: 20px;
			height: 50px;
			padding: 4px 8px;
			margin-left: -8px;
		}
	}
}
