.container {
	margin-top: 6rem;
	margin-bottom: 6rem;

	@include desktop {
		display: flex;
		height: 100vh;
		align-items: center;
		justify-content: flex-end;
		min-height: 80rem;
		margin-top: 0;
		margin-bottom: 0;
		padding: 0 span(1);
	}
}

.text {
	flex: 0 0 auto;

	@include mobile {
		padding: 0 span(2);
		text-align: center;
	}

	@include desktop {
		width: span(9);
		margin-right: span(3);
	}
}

.features {
	margin-top: 3rem;

	@include tablet {
		margin-top: 40px;
	}
}

.feature {
	display: inline-flex;
	align-items: center;
	margin-bottom: 3rem;

	@include tablet {
		margin-bottom: 30px;
	}

	&:last-child {
		margin-bottom: 0;
	}

	svg {
		flex: 0 0 auto;
		margin-right: 1.3rem;
	}
}

.imagesCol {
	position: relative;
	flex: 1 1 auto;

	@include desktop {
		width: span(14);
		margin-right: span(3);
	}
}

.image {
	width: 100%;
}

.perfs {
	position: relative;
	z-index: 0;

	.circle {
		@include mobile {
			top: 7rem;
			left: 50%;
			width: 80rem;
			margin-left: -40rem;
		}

		@include desktop {
			top: 25%;
			width: span(30);
			filter: blur(100px);
		}
	}

	.text {
		@include desktop {
			width: span(8);
		}
	}

	.imagesCol {
		padding: 12rem 0;

		@include tablet {
			padding: 150px 0;
		}

		@include desktop {
			padding: 0;
		}
	}

	&Image {
		position: relative;
		z-index: 1;
		width: 42.5rem;
		overflow: hidden;
		margin-left: span(1);
		border-radius: 2rem;
		box-shadow: 0px 0.4rem 2rem rgba(#6a6a6a, 0.1);

		@include tablet {
			width: span(15);
		}

		@include desktop {
			width: span(12.5);
			margin-left: span(1.5);
		}

		&Wrap {
			position: relative;
			z-index: 1;
		}
	}

	.card {
		position: absolute;

		&:first-child {
			top: 7rem;
			left: -7rem;

			@include tablet {
				top: 80px;
				left: -70px;
			}

			@include desktop {
				top: -7.4rem;
				left: calc(span(-1) - 3rem);
			}

			.cardInner {
				filter: blur(10px);
			}
		}

		&:nth-child(2) {
			top: 0;
			right: span(1);

			@include mobile {
				.cardInner {
					filter: blur(0.25em);
				}
			}

			@include desktop {
				top: -26rem;
				right: auto;
				left: span(5);
			}
		}

		&:nth-child(3) {
			bottom: 0;
			left: -2rem;

			@include tablet {
				left: -30px;
			}

			@include desktop {
				bottom: -16rem;
				left: span(9);
			}
		}

		&Inner {
			overflow: hidden;
			min-width: 11rem;
			padding: 1.2rem 1.6rem;
			background-color: $white;
			border-radius: 1.2rem;
			box-shadow: 0.5rem 0.5rem 2rem rgba(#adb2bd, 0.15);
			transform: translateZ(0);
			text-align: center;
			//will-change: transform;

			@include tablet {
				min-width: 150px;
				padding: 16px;
			}

			@include desktop {
				min-width: 16rem;
				padding: 2rem;
				border-radius: 2rem;
			}
		}

		&Icon {
			display: inline-flex;
			position: relative;
			width: 3rem;
			height: 3rem;
			overflow: hidden;
			align-items: center;
			justify-content: center;
			margin-bottom: 0.6rem;
			border-radius: 50%;

			@include tablet {
				width: 36px;
				height: 36px;
			}

			@include desktop {
				width: 4.4rem;
				height: 4.4rem;
			}

			i {
				display: block;
				width: 100%;
				height: 1.8rem;
				mask-repeat: no-repeat;
				mask-position: center;

				@include tablet {
					width: 18px;
				}
			}

			.bg {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0.2;
				filter: brightness(1.1);
			}
		}

		&Title {
			color: #212e40;

			@include mobile {
				font-size: clampfont(1.2rem);
			}
		}

		&Subtitle {
			color: #a5abb4;
		}
	}
}

.updates {
	position: relative;
	z-index: 0;
	flex-direction: row-reverse;

	.text {
		margin-top: 4rem;

		@include desktop {
			margin: 0 0 0 span(3);
		}
	}

	.imagesCol {
		padding: 6rem span(1) 0;

		@include desktop {
			margin: 12rem 0 0 span(3);
			padding: 0;
		}
	}

	.features {
		@include desktop {
			margin-right: span(1);
		}
	}

	&Image {
		width: span(13);
		transform: translateZ(0);

		@include tablet {
			width: span(7);
		}

		&Main {
			overflow: hidden;
			border-radius: 2rem;
			box-shadow: 0px 0.4rem 2rem rgba(#6a6a6a, 0.1);

			&Wrap {
				position: relative;
				z-index: 2;

				@include tablet {
					left: span(2);
				}

				@include desktop {
					bottom: 4rem;
					left: span(0.5);
					width: span(8);
				}
			}
		}

		&Back {
			overflow: hidden;
			border-radius: 1.2rem;
			filter: blur(1em);
			//will-change: transform;

			&Wrap {
				position: absolute;
				z-index: -1;
				top: 0;
				left: span(5);

				@include tablet {
					left: span(7);
				}

				@include desktop {
					z-index: 0;
					top: -14.4rem;
					right: span(1.5);
					left: auto;
					width: span(7);
				}
			}
		}
	}

	.dealflow {
		z-index: 1;

		@include desktop {
			right: 0;
		}
	}

	.background {
		@include desktop {
			z-index: 0;
		}
	}

	.circle {
		@include mobile {
			top: 5rem;
			left: 50%;
			width: 120rem;
			margin-left: -60rem;
		}

		@include desktop {
			top: auto;
			right: span(-1);
			bottom: -7rem;
			left: auto;
			width: span(18);
		}
	}
}
