.footerBanner {
	position: relative;
	z-index: 0;
	color: $white;
	background: $greenDark;
	text-align: center;

	.container {
		padding-top: 12rem;
		padding-bottom: 12rem;

		@include desktop {
			padding-top: 21.6rem;
			padding-bottom: 21.6rem;
		}
	}

	.title {
		margin: 0 span(2);

		@include desktop {
			margin: 0 span(4);
		}
	}

	.cta {
		margin-top: 3rem;

		@include desktop {
			margin-top: 4rem;
		}
	}

	.illu {
		position: absolute;
		z-index: -1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 120%;

		@include desktop {
			width: span(17);
		}
	}

	.background {
		background: none;

		@include mobile {
			display: none;
		}

		.circle {
			@include desktop {
				width: span(25);
				left: calc(50vw + span(7) - span($columns-desktop) / 2 + var(--sbw) / 2);
			}
		}
	}
}
