.phone {
	position: relative;
	overflow: hidden;

	// Black screen behind everything
	&::before {
		content: '';
		z-index: -1;
		position: absolute;
		top: 2%;
		bottom: 2%;
		left: 5%;
		right: 5%;
		border-radius: 2em;
		overflow: hidden;
		background-color: #000;
	}
}

.device {
	z-index: 2;
	position: relative;
	width: 100%;
}

.whiteBar {
	z-index: 0;
	position: absolute;
	top: 2.5%;
	left: 5.5%;
	right: 5.5%;
}

.screen {
	position: absolute;
	z-index: 1;
	top: 2.5%;
	bottom: 2.5%;
	left: 5.5%;
	right: 5.5%;
	border-radius: 1em;
	overflow: hidden;
	// transform: translate3d(0, 50%, 0) scale3d(0, 0, 0);
	// transition: transform 0.6s $quart-out;
}
