.label {
	display: inline-block;
	padding-bottom: 0.6rem;
	padding-left: 2rem;
	font-size: clampfont(1.1rem);
	line-height: 1;

	@include tablet {
		padding-bottom: 6px;
		padding-left: 20px;
	}
}

.select {
	.wrapper {
		position: relative;
		display: flex;
		align-items: center;
		height: 4.2rem;
		border-radius: 0.4rem;
		padding-right: 2rem;
		background-color: $white;
		border: 1px solid rgba($black, 0.1);

		@include tablet {
			height: 50px;
			border-radius: 4px;
			padding-right: 20px;
		}
	}

	select {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		opacity: 0;
		font-family: $font-sans;
		appearance: none;
		border-radius: 0;
		outline: none;
		border: none;
	}

	.value {
		position: relative;
		z-index: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		cursor: default;
		font-family: $font-sans;
		padding: 0 2rem;
		// opacity: 0.6;

		@include mobile {
			pointer-events: none;
		}

		@include tablet {
			padding: 0 20px;
		}
	}

	svg {
		position: absolute;
		z-index: 0;
		width: 0.7rem;
		height: auto;
		right: 0;
		fill: currentColor;
		transform: rotate(90deg);

		@include tablet {
			width: 7px;
		}
	}
}
