.keen {
  color: #17403e;
  padding: 0 0rem 0rem;
width: 100%;
  .title {
    text-align: center;
    padding: 3rem 0 2rem;
    max-width: 16ch;
    margin: 0 auto;
  }
  .keenSlide {
    @include desktop {
      height: 47rem;

    }
	background: rgba(247, 246, 242, 0.95);
opacity: 0;
    border-radius: 2rem;
    padding: 0 2.5rem ;
    height: auto;
    overflow: hidden;
    width: 100%;
  }

}
.insideSlide li{
	list-style: inside;
	padding-left: 1.28571429em;
    text-indent: -1.28571429em;
}
.arrow{

	position: absolute;
}
