.portfolioIntro {
	.diptych {
		@include desktop {
			margin-bottom: 5rem;
		}
	}
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column-reverse;

	@include desktop {
		height: 100vh;
		align-items: center;
		flex-direction: row-reverse;
		justify-content: flex-end;
		min-height: 80rem;
	}
}

.header {
	position: relative;
	z-index: 0;

	.circle {
		top: 10rem;
		left: 50%;
		width: 60rem;
		margin-left: -30rem;
	}

	&Image {
		width: span(12);
		margin: 8rem auto -4rem;

		@include desktop {
			width: span(17);
			margin: 0;
			padding-top: 26rem;
		}
	}
}

.dealflow {
	display: inline-flex;
	width: 7.4rem;
	height: 7.4rem;
	align-items: center;
	justify-content: center;
	margin-bottom: 3.4rem;
	background-color: $greenDark;
	border-radius: 0.8rem;
	box-shadow: 0px 0.8rem 3.2rem rgba(0, 0, 0, 0.17);

	@include desktop {
		width: 10rem;
		height: 10rem;
		margin-bottom: 3rem;
	}

	.logo {
		width: 1.4rem;
		height: auto;
		color: $yellow;

		@include desktop {
			width: 2.4rem;
		}
	}
}

.text {
	position: relative;
	z-index: 1;

	@include mobile {
		padding: 0 span(1.5);
		text-align: center;
	}

	@include desktop {
		width: span(8);
		margin-left: span(1);
	}
}

.excerpt {
	margin-top: 3rem;

	@include mobile {
		margin-right: span(0.5);
		margin-left: span(0.5);
	}

	@include desktop {
		width: span(6);
	}
}
