.investmentManagement {
	position: relative;
	text-align: center;

	@media (min-width: $tablet-mockup-width)  {
		text-align: left;
	}
}

.header {
	position: relative;

	&Container {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 14rem 3rem 20rem;

		@media (min-width: $tablet-mockup-width)  {
			flex-direction: row;
			justify-content: space-between;
			padding-bottom: 5rem;
		}

		@include desktop {
			padding-left: 10rem;
			padding-right: 10rem;
			gap: 10rem;
		}
	}

	.headerBackground {
		position: absolute !important;

		.circle {
			top: 6rem;
			left: span(8);
			width: 75vw;

			@include desktop {
				top: 5rem;
				left: 75%;
				width: span(15);
			}
		}
	}

	.headerTitle {
		font-size: clampfont(4rem);
		line-height: 5rem;

		@include desktop {
			font-size: clampfont(8rem);
			line-height: 8rem;
		}
	}

	.headerSubtitle {
		margin-top: 1.5rem;
		font-size: 2rem;

		@include desktop {
			font-size: 5rem;
		}
	}

	.trustedBy {
		margin-top: 25px;
		font-weight: 700;
		font-size: 1.2rem;

		@include desktop {
			font-size: 2rem;
		}
	}

	.customers {
		display: inline-flex;
		align-items: center;
		gap: 16px;
		margin: 2rem auto 0;
	}

	.customer {
		width: 5rem;

		@include desktop {
			width: 10rem;
		}
	}

	.phonesWrapper {
		z-index: 1;
	}

	.phones {
		position: absolute;
		bottom: -32rem;
		left: calc(50% - 20vw);
		z-index: 1;
		width: 40vw;

		@media (min-width: $tablet-mockup-width)  {
			position: static;
		}

		@include desktop {
			width: 25vw;
		}
	}
}

.sectionTitle {
	font-size: 2rem;
	line-height: 2.5rem;
	flex: 1 0 40%;

	@media (min-width: $tablet-mockup-width)  {
		font-size: 4rem;
		line-height: 4.5rem;
	}
}

.sectionText {
	font-size: 1.5rem;
	flex: 1 0 40%;

	@media (min-width: $tablet-mockup-width)  {
		font-size: 2rem;
	}
}

.splitSection {
	@include desktop {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 3rem;
		padding: 0 15%;
	}
}

.centralised {
	position: relative;
	padding: 14rem 3rem 0;
    background: linear-gradient(90deg, #CDC3CF 0%, #D4C4C4 31%, #E1C7B2 100%);

	@media (min-width: $tablet-mockup-width)  {
		padding-top: 4rem;
	}

	.transparency {
		@media (min-width: $tablet-mockup-width)  {
			margin: 0 auto;
			font-size: 3rem;
			line-height: 3.5rem;
			max-width: 35rem;
		}
	}

	.centralisedSubtitle {
		margin-top: 14px;
		margin-bottom: 34px;

		@media (min-width: $tablet-mockup-width)  {
			margin: 1rem auto 3rem;
			max-width: 35rem;
		}
	}

	.logo {
		width: 1.3rem;
		margin: 35px auto;

		@media (min-width: $tablet-mockup-width)  {
			width: 2.5rem;
		}
	}

	.example {
		margin: 0 auto;
		position: relative;
		top: 8rem;

		@include desktop {
			width: 100rem;
		}
	}
}

.design {
	background-color: #D1DED3;
	padding: 14rem 4rem 8rem;
}

.automation {
	position: relative;
	padding: 8rem 4rem;
	color: white;

	@include desktop {
		padding: 8rem 12rem;
		display: flex;
		justify-content: space-between;
		gap: 5%;
	}

	.chartWrapper {
		order: 2;
		flex: 1 0 45%;
	}

	.chart {
		position: relative;
		top: -3rem;
		padding: 0 3rem;
	}

	.automationText {
		margin: 25px 0;
	}

	.automationBackground {
		position: absolute !important;

		.circle {
			left: span(3.5);
			top: 90%;
			width: 50vw;
			height: 50vw;

			@include desktop {
				top: 70%;
				left: 35%;
				width: span(10);
				height: span(10);
			}
		}
	}
}

.cards {
	position: relative;
	padding-bottom: 4rem;
	z-index: -2;
	background-color: #D1DED3;

	@include tablet {
		text-align: center;
	}

	.cardsContainer {
		display: flex;
		flex-wrap: wrap;
		gap: 2.5rem;
		padding: 4rem;

		@include desktop {
			padding: 8rem 16rem;
		}
	}

	.card {
		text-align: center;
		padding: 11px 15px;
		background: #F7F6F2;
		opacity: 0.9;
		box-shadow: 7px 7px 16px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		flex: 1 0 100%;

		@include desktop {
			padding: 3rem 6rem;
			flex-basis: 40%;
		}
	}

	.cardIcon {
		margin: 0 auto;
		width: 1.65rem;

		@include desktop {
			margin-bottom: 2rem;
			width: 4.5rem;
		}
	}

	.cardTitle {
		margin: 5px 0;
		font-size: 1.6rem;

		@include desktop {
			font-size: 3rem;
		}
	}

	.cardSubtitle {
		font-size: 1rem;

		@include desktop {
			font-size: 1.5rem;
		}
	}

	.screenshots {
		margin: 50px 0;
		height: 12rem;

		@include desktop {
			height: 40rem;
		}
	}

	.screenshot {
		margin-right: 2rem !important;
	}

	.bigText {
		margin: 60px 0 30px;
		font-size: clampfont(8rem);

		@include desktop {
			font-size: 14vw;
		}
	}

	.finishWrapper {
		@include desktop {
			position: absolute;
			width: 30vw;
			bottom: 5vw;
			right: 5vw;
		}
	}

	.finish {
		margin-bottom: 25px;
		padding: 0 4rem;

		@include desktop {
			padding: 0;
		}
	}

	.cardsBackgroundTop {
		position: absolute !important;
		background-color: transparent !important;

		.circle {
			left: span(3.5);
			top: -10%;
			width: 50vw;
			height: 50vw;

			@include desktop {
				top: -10%;
				left: 35%;
				width: span(10);
				height: span(10);
			}
		}
	}

	.cardsBackgroundBottom {
		position: absolute !important;
		background-color: transparent !important;

		.circle {
			top: 80%;
			left: -8rem;
			width: 85vw;

			@include desktop {
				top: 70%;
				left: -25%;
			}
		}
	}
}

.divider {
	margin: 20px auto;
	width: 25px;
	height: 1px;
	background-color: #17403E;
	border: none;
}
