%invisible-scroll {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;  // IE and Edge
	scrollbar-width: none;  // Firefox

	&::-webkit-scrollbar {
		display: none; // webkit
	}
}

@include mobile {
	%invisible-scroll-x-mobile {
		overflow-x: scroll;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: none; // IE and Edge
		scrollbar-width: none; // Firefox

		&::-webkit-scrollbar {
			display: none; // webkit
		}
	}
}
