.videoPlayer {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;

	&::after {
		content: '';
		padding-bottom: 56.25%;
		display: block;
	}
}

.video {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 50%;
	transform: translate(-50%, -25%);
}
