@mixin mobile($bounds: 'max') {
	$config: (
		columns: susy-repeat($columns-mobile),
		gutters: $gutter-mobile
	);
	$susy-saved: $susy;
	$susy: map-merge($susy, $config) !global;
	$mockup-width: $mobile-mockup-width !global;
	$margin: $mobile-margin !global;

	$width: if($bounds == 'min', $desktop, $desktop - 1px);

	@media (#{$bounds}-width: $width) {
		@content;
	}

	@include restore-default($susy-saved);
}

@mixin mobile-landscape($bounds: 'max') {
	@media (#{$bounds}-width: $desktop) and (#{$bounds}-height: 540px) and (orientation: landscape) {
		@content;
	}
}

@mixin tablet() {
	$config: (
		columns: susy-repeat($columns-tablet),
		gutters: $gutter-tablet
	);
	$susy-saved: $susy;
	$susy: map-merge($susy, $config) !global;
	$mockup-width: $tablet-mockup-width !global;
	$margin: $tablet-margin !global;

	@media (min-width: $tablet) and (max-width: #{$desktop - 1px}) {
		@content;
	}

	@include restore-default($susy-saved);
}

@mixin desktop($bounds: 'min') {
	$config: (
		columns: susy-repeat($columns-desktop),
		gutters: $gutter-desktop
	);
	$susy-saved: $susy;
	$susy: map-merge($susy, $config) !global;
	$mockup-width: $desktop-mockup-width !global;
	$margin: $desktop-margin !global;
	$width: if($bounds == 'min', $desktop, $desktop - 1px);

	@media (#{$bounds}-width: $width) {
		@content;
	}

	@include restore-default($susy-saved);
}

@mixin large-desktop($bounds: 'min') {
	$mockup-width: $desktop-mockup-width !global;
	$margin: $desktop-margin !global;

	@media (#{$bounds}-width: $large-desktop) {
		@content;
	}

	@include restore-default;
}

@mixin restore-default($susy) {
	$mockup-width: $mobile-mockup-width !global;
	$margin: $mobile-margin !global;

	@if $susy {
		$susy: $susy !global;
	}
}

@mixin touch {
	@media (hover: none) {
		@content;
	}
}

@mixin no-touch {
	@media (hover: hover) {
		@content;
	}
}
